.navbar-brand {
    padding : 2px;

}

.input-append .btn.dropdown-toggle {
    float: none;
    margin-bottom: 5px;
}

#thumb {
    height : 48px;
    width : 48px;
}

h2 {
	font-weight: bold;
}

.navigation {
	margin-top: 0.5em;
}

#start-game {
	margin: 0px auto;
}