#scoreboard {
	border: 1px solid #000000;
	background-color : white;
	width : 400px;
	height : 200px;
}

#PG, #SG, #SF, #PF, #C p {
	font-size : large;
}

#createGame {
	margin: 0px auto;
}

#opponent {
	width: 269px;
	height: 38px;
	font-size: 24px;
	margin-top: 18px;
	margin-bottom: 10px;
}