#game-header {
	text-align: center;
}

#forCharts {
    width: 100%;
    margin: 10px auto;
}

tr, th, .active {
    border-radius: 5px;
}

.stat-row {
    cursor: pointer;
}

.stat-type:hover {
    background-color: #bbb;
    cursor: pointer;
}

svg text {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}