body {
	background-color:#ADD8E6;
}

#canvas_container {
    width: 1000px;
    height: 570px;
    margin: 100px auto;
    outline: #000000 solid thick;
}

#control {
    width: 1000px;
    height: 150px;
    margin: 0px auto;
    text-align: center;
}

#current_frame {
    width: 30px;
    text-align: center;
}

h1, #query, #path, #info {
	background-color: white;
	border: ridge;
	border-color: gold; 
}

#wrapper {
	margin:0px; 
	position: absolute;
	left: 200px;
	top: 155px;
}

#query {
	padding: 5px;
}

#query * {
	margin-bottom: 5px;
	width: 70%;
	font-size: 20px; 
}

#list, #list2 {
	width: 476px;
	resize: none;
}

input {
	width: 100%;
	resize: none;
}