body {
    background-image: url("http://www.psdgraphics.com/file/basketball-floor-texture.jpg");
    background-size: cover;
    width:100%;
}
h1, h2, h3 {
    border: ridge;
    padding: 0.25em;
}

#wrapper {
    background: center;
    background-color: #ffffff;
    width: 90%;
    padding: 1em;
    margin-left: 5%;
    margin-right: 5%;
    border-left: ridge;
    border-right: ridge;
}