#forCharts {
    width: 450px;
    margin: 10px auto;
}

.stat-row {
    cursor: pointer;
}

.stat-type:hover {
    background-color: #bbb;
    cursor: pointer;
}

svg text {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}