/*
#canvas_container {
    width: 50%;
    position: relative;
    margin: 0px auto;
    outline: #000000 solid thick;
}
*/

#control {
    text-align: center;
}

#frame_number {
    margin: 10px 0px;
}

#current_frame {
    width: 47px;
    margin: 0px auto;
}

#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    height: 100%;
}

#wrapper.toggled {
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 45px;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-col {
    height: 500px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#load_column {
    background: #555;
    position: absolute;
    width: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #load_column {
    width: 200px;
}


#page-content-wrapper {
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
    }

    #wrapper.toggled {
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 45px;
    }

    #load_column {
	background: #555;
	position: absolute;
	width: 200px;
	left: 0px;
	top: 0px;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
    }

    #wrapper.toggled #load_column {
	width: 0px;
    }


    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#delete_plays {
    margin: 10px;
}

#load_header {
    position: relative;
    background-color: #333333;
    overflow-x: hidden;
    height: 100px;
}

#load_content {
    overflow-x: hidden;
    overflow-y: auto;
}

.selected-row {
    background-color: #777;
}

#plays {
    width: 100%;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

#editing_name {
    visibility: hidden;
    font-weight: bold;
}

.delete_button {
    position: absolute;
    left: 0;
    bottom: 3px;
    margin-left: 3px;
    display: none;
}

#shown {
    float: right;
}

#hide-sidebar {
}

.playNameHolder {
    font-size: 130%;
}

/*

#save {
    width: 50%;
    text-align: center;
    float: right;
}

#control {
    width: 50%;
    height: 100px;
    position: relative;
    margin: 0px auto;
    text-align: center;
}

#to_dashboard {
    margin-left: 10px;
    margin-top: 10px;
}

#frame_number {
    width: 100%;
    margin: 0px auto;
}
*/