#canvas_container {
    width: 50%;
    position: relative;
    margin: 0px auto;
    outline: #000000 solid thick;
}

#play_name {
    width: 150px;
}

#save {
    width: 50%;
    text-align: right;
    margin: 0px auto;
    position: relative;
}

#load_column {
    float: left;
    background-color: #555555;
    width: 20%;
    overflow: auto;
}

#control {
    width: 50%;
    height: 100px;
    position: relative;
    margin: 0px auto;
    text-align: center;
}