#canvas_container {
    width: 50%;
    position: relative;
    margin: 0px auto;
    outline: #000000 solid thick;
}

#play_name {
    width: 150px;
}

#above_court {
    width: 50%;
    margin: 0px auto;
    position: relative;
}

#editing_name {
    width: 25%;
    font-size: 20px;
}

#save {
    width: 50%;
    text-align: right;
    float: right;
}

#load_column {
    float: left;
    background-color: #555555;
    width: 20%;
    overflow: auto;
}

#control {
    width: 50%;
    height: 100px;
    position: relative;
    margin: 0px auto;
    text-align: center;
}

#load_header {
    background-color: #333333;
    height: 100px;
}

.playName {
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

#plays {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}