#court {
	background-size: cover; 
	margin: 0 auto; 
	position: relative;
}

#content {
	"user-select": none;
}

div, button {
	padding : 4px;
}

.col-md-2 {
	text-align:center
}

#home_team, #away_team {
	margin : auto;
}

svg text {
	cursor: default;
}

.stat-button {
    height: 4em;
    width: 100%;
    white-space: normal;
}
