#wrapper {
	width: 1400px;
	height: 1000px;
	float : center;
	margin : 40px;
}

#subForm {
	width : 200px;
}

#court {
	background-size: cover; 
	width : 650px;
	float : center;
}

#content {
	height: 650px;
	width: 800px;
	"user-select": none;
	float : left;
}

#statFeed {
	position : absolute;
	top : 40px;
	left : 900px;
	height : 800px;
	width : 300px;
	padding : 40px;
}